src/*.exe
src/bitgoldcoin
src/bitgoldcoind
src/test_bitgoldcoin
.settings
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.bitgoldcoin

# Compilation and Qt preprocessor part
*.qm
Makefile
bitgoldcoin-qt
bitgoldcoin-Qt.app

# Unit-testsbitgoldcoin
Makefile.test
bitgoldcoin-qt_test

# Resources cpp
qrc_*.cpp

# Qt creator
*.pro.user

# Mac specific
.DS_Store
build

!src/leveldb-*/Makefile
.cproject
.project

